h1 {
  font-size: 28px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}

input {
  font-family: "Rubik", sans-serif;
  background: #2d2d2d;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  display: block;
}

.form-group {
  width: 100%;
  padding: 10px;
  input {
    width: 100%;
  }
}
.form-group label {
  padding: 0 5px;
}
